.nav-container {
    transform: translateX(-100%);
    // top: 100%;
    position: absolute;
    transition: all 2s;
    & > .login {
      & > .span-1 {
        margin-right: 10px;
      }
      & > button {
        margin-left: 12px;
        border-radius: 32px;
        color: $clr-white;
        background-color: $tertiary-color;
        padding: 7px 16px 7px 16px;
      }
    }
  }
  .dropdown {
    position: absolute;
    z-index: 1;
    transform: translateX(0%);
    background-color: $primary-color;
    height: 100vh;
    width: 100vw;
    @include flex(flex, flex-start, center);
    flex-direction: column;
    ul > li {
      font-size: 22px;
      margin-top: 2rem;
      &:hover{
        color:$tertiary-color;
        cursor: pointer;
      }
    }
    .login {
      font-size: 22px;
      .span-1{
        &:hover{
          color:$tertiary-color;
          cursor: pointer;
        }
      }
      button{
        &:hover{
          color:$primary-color;
          cursor: pointer;
        }
  
      }
    }
  }
  .bars{
    visibility: hidden;
  }
  .x-mark{
    visibility: hidden;
  }
  @include query-md {
    .nav-container {
      transform: translateX(0);
      position: initial;
      display: flex;
      align-items: center;
      & > .list {
        display: flex;
        margin-right: 25px;
        & > li {
          margin-right: 1rem;
          opacity: 0.8;
          &:hover{
            color:$tertiary-color;
            cursor: pointer;
          }
    
        }
      }
      .login {
        display: flex;
        align-items: center;
        .span-1{
          &:hover{
            color:$tertiary-color;
            cursor: pointer;
          }
  
        }
        button{
          &:hover{
            color:$primary-color;
            cursor: pointer;
          }
    
        }
      }
    }
    // .logo-container{
    //   margin-left: 135px;
    // }
  }
  

