.section-4{
    padding: 4rem 1.5rem 0 1.5rem;
    &>h2{
        margin-bottom: 5rem;
    }
    &>div>.invest{
        &>button{
            margin-top: 1rem;
            padding: .5rem;
            border-radius: 1.5rem;
            color: $clr-white;
            background-color: $tertiary-color;
        }
        margin-bottom:1.5rem ;
    }
    &>.stats{
margin-top: 5rem;
&>.div1{
    &>button{
        background-color: $tertiary-color;
        color: $clr-white;
        padding: .5rem;
        border-radius: 18px;
    }
}
&>.div2{
    margin-top: 2rem;
}
&>.div3{
    margin-top: 7rem;
    &>div{

        &>.analysis{
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        &>button{
            background-color: $tertiary-color;
            color: $clr-white;
            padding: .5rem;
            border-radius: 18px;
            margin-bottom: 2rem;
        }
    }
}
    }
}
//do mixin for buttons