.crypto {
  border-radius: 17px;
  margin-top: 5rem;
  background-color: $secondary-color;
  padding: 3rem;
  @include flex(flex, center, center);
  flex-direction: column;
  color: $clr-white;
  & > .crypto-images {
    
    width: 6rem;
    margin: auto;
    & > .crypto-label {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  & > button {
    @include flex(flex, center, center);
    margin-top: 1rem;
    padding: 12px;
    border-radius: 16px;
    width: 10rem;
    color: $clr-white;
    background-color: $tertiary-color;
    & > img {
      padding: 5px;
      margin-left: 17px;
      background-color: $clr-white;
      border-radius: 50%;
    }
  }
}
.crypto2,.crypto3 {
  background-color: $clr-white;
  color: $primary-color;
  &>button{
    border: 1px solid grey;
    width: 3rem;
    border-radius: 50%;
    background-color: $clr-white;
    // &>img{
    //   width: 90%;
    // }
  }
}
.section-3 {
  padding:6rem 1rem  0 1rem;
  // & > h2 {
  //   margin-top: 6rem;
  // }
  & > button {
    color: $clr-white;
  }
}
