.section-2 {
  position: relative;
  @include flex(flex, center, center);
  flex-direction: column;
  padding: 0 1rem 30rem 1rem;
}
.numbers {
  @include flex(flex, center, center);
  flex-direction: column;

  & > .num_ {
    width: 16rem;
    display: flex;
    margin-top: 20px;
    &:hover{
      cursor: pointer;
    }
    & > img {
      // background-color: #FFFFFF1A;
      border: 1px solid;
      border-radius: 50%;
      margin-right: 1.5rem;
    }
  }
}
.choose-crappo {
  margin-top: 2rem;
  & > p {
    margin-top: 1rem;
  }
  & > button {
    margin-top: 2rem;
    width: 8rem;
    padding: 16px 24px;
    border-radius: 32px;
    border: none;
    background-color: $tertiary-color;
    color: $clr-white;
  }
}
.positioning {
  bottom: -5%;
  position: absolute;
  background-color: $clr-white;
  width: 90vw;
  height: 500px;
  border-radius: 22px;
  color: $primary-color;
  padding: 1rem;
  & > form {
    margin-bottom: 2rem;
    margin-top: 5px;
    display: flex;
    flex-direction: column;

    & > input {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      margin-top: 1rem;
      font-size: 20px;
      &:focus{
  outline: none;
      }
      &::placeholder{
        color: $primary-color;
      }
  
    }
    & > select {
      font-size: 20px;
      margin-top: 3rem;
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
    & > button {
      margin-top: 3rem;
      width: 6rem;
      padding: 16px;
      background-color: $tertiary-color;
      border-radius: 32px;
      border: none;
      color: $clr-white;
      @include font(500,18px);
    }
  }
   div {
    .estimation {
      color: $tertiary-color;
      @include font(500,16px)
    }
     h2 {
      font-size: 32px;
      margin-top: 1rem;
      .value {
        font-size: 32px;
        color: $tertiary-color;
      }
    }
    & > p {
      opacity: 0.6;
    }
  }
}
@include query-md {
  .section-2 {
    padding: 100px 70px 0px ;

    // padding: 100px 120px 0px 120px;
    & > .numbers {
      flex-direction: row;
      & > .num_ {
        //width:334px;
        // margin-left: 99px;
        & > img {
          border: none;
        }
        & > div {

          & > h2 {
            @include font(700, 30px);
          }
          & > p {
            opacity: 0.8;
          }
        }
      }
    }
    & >.crappo {
      // width: 1240px;
      display: flex;
      flex-direction:row-reverse;
      justify-content: space-between;
      margin-top: 140px;
    .choose-crappo{
      width: 480px;

      &>h2{
        @include font(700,40px);
      }
      &>p{
        opacity: .8;
      }
    }
    img{
      width: 60%;
    }
    }
    &>.earnings{
      width: 100%;
      text-align: center;
      margin-bottom: 15rem;
      margin-top: 6rem;
      &>h2{
        @include font(700,30px)
      }
      &>p{
        opacity: .8;
      }
    }
    &>.positioning{
      bottom: -10%;
      width: 70vw;
      padding: 3rem;
      height: 300px;
      &>form{
        margin: 0;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
        &>input{
       height: 20px;   

        }
        &>button,select{
          margin: 0;
        }
      }
    }

  }
}
